doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Contact Form
  link(rel='stylesheet' href='/login.css')
  script(src='/index.js')
  script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js')
h4(style='font-weight:800') Contact Form
.container
  form(onsubmit='sendEmail(); reset(); return false;')
    label(for='fname') Name
    br
    input#fname(type='text' name='firstname' required='' placeholder='Enter your full name')
    br
    label(for='cloudService') Cloud Service Provider
    br
    select#service(name='service' required='')
      option(value='aws') AWS
      option(value='azure') Microsoft Azure
      option(value='google') Google Cloud
      option(value='ibm') IBM Cloud
      option(value='oracle') Oracle 
      option(value='salesforce') Salesforce
      option(value='other') Other
    br
    label(for='subject') Subject
    br
    input#subject(type='text' name='subject' required='' placeholder='')
    br
    label(for='message') Message
    br
    textarea#message(name='message' required='' placeholder='Write something..' style="height:200px; letter-spacing: 0.05rem; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif")
    br
    button#submit.button(type='submit' style='cursor:pointer;') Submit
script(src='https://smtpjs.com/v3/smtp.js')
script.
  function sendEmail() {
    Email.send({
    Host : "smtp.gmail.com",
    Username : "awesomeareej@gmail.com",
    Password : "areejrocks",
    To : 'areej_irfan@hotmail.com',
    From : "IRCC@test.com",
    Subject : document.getElementById("submit").value,
    Body : document.getElementById("message").value
    }).then(
    message => alert(message)
    );
  }
h4(style='font-weight:800') FAQ